.home-page-header {
  background: #073042 url(../../../images/png/home-page/landing-logo-320.png)
    center calc(74px + 106px) no-repeat;
}
.home-page-nav {
  display: flex;
  padding: 18px 70px 18px 70px;
  justify-content: space-between;
}

.home-page-header__home-page-nav {
  margin-bottom: 184px;
}
.main-menu {
  min-width: 203px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}
.main-menu__link {
  margin: 0;
  padding: 8px 20px;
  font-family: 'Inter-Medium', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px;
  text-decoration: none;
  color: #ffffff;
}
.main-menu__link:last-child {
  color: #000000;
  background: #3ddc84;
}

.home-page-header__main-page-title {
  max-width: 730px;
  margin: 0 auto 224px auto;
}

@media only screen and (max-width: 768px) {
  .home-page-header {
    background-position: center calc(74px + 246px);
  }
  .home-page-header__home-page-nav {
    padding: 18px 30px 18px 30px;
    margin-bottom: 326px;
  }
  .home-page-header__main-page-title {
    margin: 0 auto 342px auto;
  }
}

@media only screen and (max-width: 425px) {
  .home-page-header {
    background-image: url(../../../images/png/home-page/landing-logo-320.png);
    background-position: center calc(74px + 142px);
  }
  .home-page-header__home-page-nav {
    padding: 18px 14px 18px 14px;
    margin-bottom: 207px;
  }
  .home-page-header__main-page-title {
    margin: 0 auto 246px auto;
  }
}
