.main-page-title {
  padding: 0;
  margin: 0;
  font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  font-weight: 400;
}

.subtitle-container {
  border-bottom: 1px solid #dadada;
}

.main-page-subtitle {
  padding: 0;
  margin: 0;
  font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #ffffff;
  font-weight: 400;
}
.main-page-paragraph {
  padding: 0;
  margin: 0;
  font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
}

.shared-link {
  text-decoration: none;
  font-family: 'Inter-Medium', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .main-page-paragraph {
    font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
  }
}

@media only screen and (max-width: 425px) {
  .main-page-title {
    font-size: 31px;
    line-height: 39px;
  }
  .main-page-subtitle {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }
  .main-page-paragraph {
    font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 16px;
  }
}
