.navTab {
  padding: 24px 0 24px 0;
  background: #272727;
}
.navTab-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navTab-menu__item {
  margin-right: 40px;
}
.navTab-menu__item:last-child {
  margin-right: 0px;
}
.navTab-menu__link {
  font-family: 'Inter-Medium', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}
.navTab-menu__link:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 425px) {
  .navTab-menu__item {
    margin-right: 24px;
  }
  .navTab-menu__link {
    font-size: 11px;
    line-height: 16px;
  }
}
