.portfolio__link-container {
  border-bottom: 1px solid #424242;
  position: relative;
  margin: 0 0 20px 0;
}
.portfolio__link-container:last-child {
  margin: 0;
}
.portfolio__link-container:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 17px;
  background: url(../../../../../images/svg/home-page/arrow.svg) center center
    no-repeat;
  top: 15px;
  right: 0;
}
.portfolio__link {
  display: block;
  padding: 0;
  margin: 0 0 20px 0;
  font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-decoration: none;
}
.portfolio__title {
  padding: 0;
  margin: 0 0 50px 0;
  font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
}

@media only screen and (max-width: 768px) {
  .portfolio__link-container:before {
    width: 16px;
    height: 16px;
    background: url(../../../../../images/svg/home-page/arrow-768.svg) center
      center no-repeat;
  }
  .portfolio__link {
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 19px;
  }
}

@media only screen and (max-width: 600px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 14px 0;
  }
  .portfolio__link-container:before {
    width: 11px;
    height: 11px;
    top: 8px;
    background: url(../../../../../images/svg/home-page/arrow-320.svg) center
      center no-repeat;
  }
}
